.app-wrap {
  position: absolute;
  margin-left: 200px;
  margin-top: 200px;
  background-color: rgb(108, 233, 233);
  width: 1000px;

  border-radius: 5%;
}
.app-wrap__content {
  display: grid;

  grid-template-areas:
  "h h"
  "n c";
  grid-template-columns: 5fr 2fr;

    
}